# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!.vscode/
!.vscode/settings.json
.git
.gitignore
.dockerignore

# dotenv environment variable files
.env
.env.*
!.env.example

# Storage files
/storage
